# Ignore Python bytecode files
*.pyc

# Ignore the virtual environment directory
venv/

# Ignore database files
db.sqlite3

# Ignore log files
*.log

# Ignore environment configuration files
.env

# Ignore compiled JavaScript files
*.js
